body {
    background-image: url(images/bg1.jpg);
    background-size: cover;
}

.home-words p {
    margin: 0px;
}

.icon {
    padding-right:0;
}

.slogan {
    height: 50vh;
    width:600px;
}

.footer {
    position: fixed;
    bottom:20px;
}

